*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.to-do-list-container{
    height: 650px;
    background-color: aqua;
    padding: 2rem;
}
p.linethrough{
    text-decoration: line-through;
}
li{
    padding: 1rem;
}
li:hover{
    background-color: rgb(27, 145, 145);
}
.empty-list-message {
    text-align: center;
    font-style: italic;
    color: gray;
  }